/* ===============================
   Global PDF Font Definitions
================================ */

@font-face {
  font-family: "Montserrat";
  src: url("/static/fonts/Montserrat-Light.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/static/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("/static/fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/static/fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/static/fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}


/* ===============================
   Base PDF Defaults
================================ */

@page {
  size: Letter;
  margin: 0.5in;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  color: #111;
  letter-spacing: 0.01em;
}

* {
  box-sizing: border-box;
}
